.App {
  text-align: center;
}
.scoreboard{
  min-height: 20em;
}
.scoreboard-text{
  font-size: 15em;
  padding: 0;
  margin: 0;
}
.scoreboard-container{
  padding: 0 0 2em;
}
hr{
  color:white;
  width: 75%;
}
button {
  background: none;
  border: none;
  cursor: pointer;
}
